@model TransferViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="Transfer" method="post">
    <div class="form-group">
        <label asp-for="FromAccount"></label>
        <input asp-for="FromAccount" class="form-control" />
        <span asp-validation-for="FromAccount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ToAccount"></label>
        <input asp-for="ToAccount" class="form-control" />
        <span asp-validation-for="ToAccount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TransferAmount"></label>
        <input asp-for="TransferAmount" class="form-control" />
        <span asp-validation-for="TransferAmount" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Transfer</button>
</form>